/* Configurações globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  
  /* Estilo do Corpo do documento */
body {
  background: #EFF3F9;
  flex-direction: column;
}
/* ---------------------------------- NAVBAR ----------------------------------  */  

/* Nav container */
.nav {
  box-sizing: border-box;
  text-align: center;
  margin: 10px;
  height: 12vh;
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  gap: 5vw;
}

/* Nav logo */
.nav-left .logo {
  width: 70px;
  height: auto;
}

/* Items Centrais */
.nav-items {
  list-style: none;
  display: flex;
  gap: 5vw;
  position: relative;
}

.nav-items li {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;  
}

.nav-items li a {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.nav-items li img {
  width: 70px;
  object-fit: contain;
  height: 50px;
}

.dropdown {
  position: absolute;
  top: 100%;   
  left: 0;
  background-color: #ffffff;
  list-style: none;
  padding: 10px 0;
  margin: 0;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  z-index: 1000;
  min-width: 150px;

  /* Transição suave ao passar o mouse */
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: opacity 0.2s ease, transform 0.2s ease;
}

/* Mostrar o menu dropdown ao passar o mouse */
.nav-items li:hover .dropdown {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  display: block;
}

.dropdown li {
  padding: 5px 15px;
}

.dropdown li a {
  color: #333;
  text-decoration: none;
  display: block;
}

/* Login/Logout da navbar */
.nav-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.nav-right .user-icon {
  margin-top: 5px;
  width: 35px;
  height: auto;
}
/* ---------------------------------- CONTAINER PRINCIPAL ----------------------------------  */ 
.main-container {
  display: flex; 
  gap: 0.5rem; 
  height: 84vh;
  box-sizing: border-box;
  margin: 10px;
}

/* Coluna Esquerda */
.left-column {
  flex: 0.2; 
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  background-color: #fff;
  border-radius: 12px; 
  align-content: center;
}

.left-column-content {
  padding: 2rem; 
  text-align: center; 
}

.left-column-content img {
  display: inline-block;
  max-width: 100%;
  height: auto;
  border-radius: 8px; 
  margin-bottom: 1rem;
}

.left-column-content p {
  margin-top: 0.5rem;
  font-size: 1rem;
}

/* ---------------------------------- COLUNA DE CONTEÚDO (COLUNA DIREITA) ----------------------------------  */ 
.right-column {
  flex: 2; 
  background-color: #ffffff; 
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


