.main-container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 5px; 
    width: 100%;
    max-width: 100%;
}

.main-column-1, .main-column-3 {
        grid-column: span 1; 
    }

.main-column-2 {
        grid-column: span 10; 
}