{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/headers.html' %}
    <link rel="stylesheet" href="{% static 'css/daniel.css' %}" typer="css">
    <title>Cadastro de Cestas</title>
</head>
<body>
{% include 'includes/nav.html' %}
<div class="main-container">

    <div class="left-column">
        <div class="left-column-content">
        <img src="{% static 'img/cadastro_produtos.png' %}" alt="Example" />
        <h3>Cadastro de Cestas</h3>
        </div>
    </div>

    <div class="right-column">
        <div class="right-column-content">
            <div class="right-column-buttons-2">
                <h1>Cestas Básicas Cadastradas: 30</h1>
                <div class="buttons-2-row">
                    <img class="cesta-img" src="{% static 'img/cesta.png' %}" alt="Example" />
                </div>
                <div class="buttons-2-row">
                    <img class="icon-img" src="{% static 'img/minus.png' %}" alt="minus" />
                    <h2>2</h2>
                    <img class="icon-img" src="{% static 'img/plus.png' %}" alt="minus" />
                </div>
                <div class="buttons-2-row">
                    <div class="button-register-1">
                        + Cadastrar Cesta(s)
                    </div>
                </div>
            </div>
            <div class="right-column-list-2">
                <h1>Itens da Cesta Básica</h1>
                <div class="right-column-list-2-cards">
                    {% for number in range %}
                    <div class="card">
                        <div class="card-row">
                            <h3>Feijão</h3>
                        </div>
                        <div class="card-row">
                            <img class="produto-img" src="{% static 'img/feijao.jpg' %}" alt="Example" />
                        </div>
                        <div class="card-row">
                            5
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>