{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/headers.html' %}
    <link rel="stylesheet" href="{% static 'css/daniel.css' %}" typer="css">
    <title>Cadastro de Cestas</title>
</head>
<body>
{% include 'includes/nav.html' %}
<div class="main-container">

    <div class="left-column">
        <div class="left-column-content">
        <img src="{% static 'img/cadastro_produtos.png' %}" alt="Example" />
        <h3>Cadastro de Cestas</h3>
        </div>
    </div>

    <div class="right-column">
        <div class="right-column-content">
            
            <div class="right-column-buttons-2">
                {% for item in estoque_produtos %}
                    {% if item.produto == "Cesta Básica" %}
                    <h1>Cestas Básicas Cadastradas: {{ item.qtd_estoque }}</h1>
                    {% endif %}
                {% endfor %}
                <div class="buttons-2-row">
                    <img class="cesta-img" src="{% static 'img/cesta.png' %}" alt="Example" />
                </div>

                <div class="buttons-2-row">  
                    <form method="POST" action="{% url 'atualizar_cestas' %}">
                        {% csrf_token %}   
                    <input type="number" id="quantity-input" name="doacao_quantidade" value="1" min="1" style="width: 100px; text-align: center; align-items: center;"/>
                </div>

                <div class="buttons-2-row">
                    <button type="submit" class="button-register-1">
                        + Cadastrar Cesta(s)
                    </button>
                    </form>
                </div>
                {% if messages %}
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
                {% endif %}
            </div>

            <div class="right-column-list-2">
                <h1>Itens da Cesta Básica</h1>
                <div class="right-column-list-2-cards">
                    {% for item in items_cesta %}
                    <div class="card">
                        <div class="card-row">
                            <h3>{{ item.produto }}</h3>
                        </div>
                        <div class="card-row">
                        {% if item.imagem and item.imagem.url %}
                            <img class="produto-img" src="{{ item.imagem.url }}" alt="{{ item.nome }}">
                        {% else %}
                            <!-- Caso não haja uma imagem para o produto, exiba uma imagem estática padrão (fallback). -->
                            <img class="produto-img" src="{% static 'img/produto.png' %}" alt="Imagem padrão">
                        {% endif %}
                        </div>
                        <div class="card-row">
                            {{ item.quantidade }}
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>