{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/headers.html' %}
    <link rel="stylesheet" href="{% static 'css/daniel.css' %}" typer="css">
    <title>Cadastro de Cestas</title>
</head>
<body>
{% include 'includes/nav.html' %}
<div class="main-container">

    <div class="left-column">
        <div class="left-column-content">
        <img src="{% static 'img/cadastro_produtos.png' %}" alt="Example" />
        <p>Cadastro de Cestas</p>
        </div>
    </div>

    <div class="right-column">
        <p>Cadastro das Cestas/Total</p>
        <p>Lista de Itens da Cesta</p>
    </div>

</div>
</body>
</html>