{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/headers.html' %}
    <link rel="stylesheet" href="{% static 'css/daniel.css' %}" typer="css">
    <title>Formulário de Cadastro das Famílias</title>
</head>
<body>
{% include 'includes/nav.html' %}
<div class="main-container">

    <div class="left-column">
        <div class="left-column-content">
        <img src="{% static 'img/familia.png' %}" alt="Example" />
        <h3>Formulário de Cadastro das Famílias</h3>
        </div>
    </div>

    <div class="right-column family-form">
        <div class="form-container">
            {% if messages %}
            {% for message in messages %}
              <div class="msg {% if message.tags == 'success' %}sucesso{% elif message.tags == 'error' %}erro{% endif %}">
                {{ message }}
              </div>
            {% endfor %}
            {% endif %}

            <form method="post" novalidate>
            {% csrf_token %}
            <div class="h1-form">Formulário de Inscrição </div>
            {{ form.non_field_errors }}
            <div class="form-section">
                <div class="h2-form">Status da família</div>
                <div class="status-options">
                {% for radio in form.status_atendimento %}
                    <label class="radio-item">
                    {{ radio.tag }}
                    <span>{{ radio.choice_label }}</span>
                    </label>
                 {% endfor %}
                </div>
                <div class="form-grid status">
                    <div class="form-group">
                        <label for="inicio_atendimento">Início do Atendimento</label>
                        {{ form.inicio_atendimento }}
                    </div>
                    <div class="form-group">
                        <label for="termino_atendimento">Término do Atendimento</label>
                        {{ form.termino_atendimento }}
                    </div>
                </div>
                <div class="form-grid entrevista">
                    <div class="form-group">
                        <label for="qtd_membros">Quantidade de Moradores/Membros da Família</label>
                        {{ form.qtd_membros }}
                    </div>
                </div>
            </div>

            <div class="h2-form"> Dados do Responsável </div>
            <div class="form-section">
            <div class="form-grid entrevista">
                <div class="form-group">
                    <label for="data_entrevista">Data da Entrevista</label>
                    {{ form.data_entrevista }}
                </div>
            </div>

                <div class="form-grid">
                    <div class="form-group">
                        <label for="nome">Nome*</label>
                        {{ form.nome }}
                    </div>
                    <div class="form-group">
                        <label for="rg">RG*</label>
                        {{ form.rg }}
                    </div>
                    <div class="form-group">
                        <label for="cpf">CPF*</label>
                        {{ form.cpf }}
                    </div>
                    <div class="form-group">
                        <label for="data_nascimento">Data de Nascimento*</label>
                        {{ form.data_nascimento}}
                    </div>
                </div>

                <div class="form-grid">
                    <div class="form-group">
                        <label for="receita_apro">Receita aproximada</label>
                        {{ form.receita_apro }}
                    </div>
                    <div class="form-group">
                        <label for="despesa_apro">Despesa aproximada</label>
                        {{ form.despesa_apro }}
                    </div>
                    <div class="form-group">
                        <label for="obs_responsavel">OBS</label>
                        {{ form.obs_responsavel }}
                    </div>
                </div>

                {{ formset.management_form }}
                <div class="form-grid telefone">
                    {% for telefone_form in formset %}
                      {% for hidden in telefone_form.hidden_fields %}
                        {{ hidden }}
                      {% endfor %}
                
                      <div class="form-group">
                        <label for="{{ telefone_form.telefone.id_for_label }}">
                          Telefone {{ forloop.counter }}
                        </label>
                        {{ telefone_form.telefone }}
                        {% if telefone_form.telefone.errors %}
                          <div class="error">{{ telefone_form.telefone.errors }}</div>
                        {% endif %}
                      </div>
                    {% endfor %}
                </div>

                <div class="h2-form">Endereço</div class="h2-form">
                <div class="form-grid">
                    <div class="form-group">
                        <label for="endereco">Endereço - Nº de Casa*</label>
                        {{ form.endereco }}
                    </div>
                    <div class="form-group">
                        <label for="bairro">Bairro*</label>
                        {{ form.bairro }}
                    </div>
                    <div class="form-group">
                        <label for="cidade">Cidade*</label>
                        {{ form.cidade }}
                    </div>
                    <div class="form-group">
                        <label for="cep">CEP*</label>
                        {{ form.cep }}
                    </div>
                </div>

                <div class="form-grid">
                    <div class="form-group">
                        <label for="ponto_referencia">Ponto de referência</label>
                        {{ form.ponto_referencia }}
                    </div>
                    <div class="form-group">
                        <label for="complemento">Complemento</label>
                        {{ form.complemento }}
                    </div>
                </div>
            </div>

            {{ parente_formset.management_form }}

            <div id="parente-forms-wrapper">
                {% for parente in parente_formset %}
                <div class="form-section parente-form">
                    <div class="h2-form">Familiar {{ forloop.counter }}</div>
                    <div class="form-grid familiar-grid">
                    {{ parente.id }}       
                    <div class="form-group">{{ parente.nome.label_tag }}{{ parente.nome }}</div>
                    <div class="form-group">{{ parente.data_nascimento.label_tag }} {{ parente.data_nascimento }}</div>
                    <div class="form-group">{{ parente.parentesco.label_tag }}   {{ parente.parentesco }}</div>
                    <div class="form-group">{{ parente.instrucao.label_tag }}    {{ parente.instrucao }}</div>
                    <div class="form-group">{{ parente.profissao.label_tag }}    {{ parente.profissao }}</div>
                    <div class="form-group">{{ parente.idade.label_tag }}        {{ parente.idade }}</div>
                    <div class="form-group">{{ parente.ocupacao.label_tag }}     {{ parente.ocupacao }}</div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <button type="button" id="add-parente-btn" class="add-familiar">
                ➕ Adicionar Familiar
            </button>

            <div id="empty-parente-form" style="display: none;">
                <div class="form-section parente-form">
                    <div class="h2-form">Familiar __NUM__</div>
                    <div class="form-grid familiar-grid">
                    {{ parente_formset.empty_form.id }}
                    <div class="form-group">{{ parente_formset.empty_form.nome.label_tag }}         {{ parente_formset.empty_form.nome }}</div>
                    <div class="form-group">{{ parente_formset.empty_form.data_nascimento.label_tag }} {{ parente_formset.empty_form.data_nascimento }}</div>
                    <div class="form-group">{{ parente_formset.empty_form.parentesco.label_tag }}   {{ parente_formset.empty_form.parentesco }}</div>
                    <div class="form-group">{{ parente_formset.empty_form.instrucao.label_tag }}    {{ parente_formset.empty_form.instrucao }}</div>
                    <div class="form-group">{{ parente_formset.empty_form.profissao.label_tag }}    {{ parente_formset.empty_form.profissao }}</div>
                    <div class="form-group">{{ parente_formset.empty_form.idade.label_tag }}        {{ parente_formset.empty_form.idade }}</div>
                    <div class="form-group">{{ parente_formset.empty_form.ocupacao.label_tag }}     {{ parente_formset.empty_form.ocupacao }}</div>
                    </div>
                </div>
            </div>

            <div class="form-section">
                <div class="h2-form">Questionário Sócio Econômico</div>

                <div class="form-grid entrevista">
                    <div class="form-group">
                        <label for="data_visita">Data da Visita</label>
                        {{ form.data_visita }}
                    </div>
                </div>
                <div class="checkbox-title">Higiene do Ambiente</div>
                <div class="checkbox-section">
                    <div class="checkbox-options">
                        <label class="questionario-title">Lixo</label>
                        {% for radio in form.lixo %}
                        {% if radio.choice_label != "---------" %}
                            <label class="radio-item">
                            {{ radio.tag }}
                            <span>{{ radio.choice_label }}</span>
                            </label>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="checkbox-options">
                        <label class="questionario-title">Limpeza da Casa</label>
                        {% for radio in form.limpeza_casa %}
                        {% if radio.choice_label != "---------" %}
                            <label class="radio-item">
                            {{ radio.tag }}
                            <span>{{ radio.choice_label }}</span>
                            </label>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="long-text">
                        {{ form.obs_limpeza }}
                    </div>
                </div>
                
                <div class="checkbox-title">Saneamento Básico</div>
                <div class="checkbox-section">
                    <div class="checkbox-options">
                        <label class="questionario-title">Água</label>
                        {% for radio in form.agua %}
                        {% if radio.choice_label != "---------" %}
                            <label class="radio-item">
                            {{ radio.tag }}
                            <span>{{ radio.choice_label }}</span>
                            </label>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="checkbox-options">
                        <label class="questionario-title">Esgoto</label>
                        {% for radio in form.esgoto %}
                        {% if radio.choice_label != "---------" %}
                            <label class="radio-item">
                            {{ radio.tag }}
                            <span>{{ radio.choice_label }}</span>
                            </label>
                        {% endif %}
                        {% endfor %}
                    </div>
                
                    <div class="long-text">
                        {{ form.obs_saneamento }}
                    </div>
                </div>

                <div class="checkbox-title">Condições de Moradia</div>
                <div class="checkbox-section">
                    <div class="checkbox-options">
                    <label class="questionario-title">Moradia I</label>
                        {% for radio in form.tipo_moradia %}
                        {% if radio.choice_label != "---------" %}
                            <label class="radio-item">
                            {{ radio.tag }}
                            <span>{{ radio.choice_label }}</span>
                            </label>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="checkbox-options">
                    <label class="questionario-title">Moradia II</label>
                    <label>{{ form.num_comodo }} Numero de cômodos</label>
                    <label> {{ form.num_moradores }} Numero de moradores</label>
                        {% for radio in form.banheiro %}
                        {% if radio.choice_label != "---------" %}
                            <label class="radio-item">
                            {{ radio.tag }}
                            <span>{{ radio.choice_label }}</span>
                            </label>
                        {% endif %}
                        {% endfor %}
                    </div>
                    <div class="checkbox-options">
                        <label class="questionario-title">Material de Construção</label>
                        {% for radio in form.construcao %}
                        {% if radio.choice_label != "---------" %}
                            <label class="radio-item">
                            {{ radio.tag }}
                            <span>{{ radio.choice_label }}</span>
                            </label>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="checkbox-title">Diversos</div>
                    <div class="checkbox-options diversos">
                    <label for="{{ form.televisor.id_for_label }}">{{ form.televisor }} Televisor</label>
                    <label for="{{ form.geladeira.id_for_label }}">{{ form.geladeira }} Geladeira</label>
                    <label for="{{ form.celular_smartphone_tablet.id_for_label }}">{{ form.celular_smartphone_tablet }} Celular/Smartphone/Tablet</label>
                    <label for="{{ form.aparelho_som.id_for_label }}">{{ form.aparelho_som }} Aparelho de Som</label>
                    <label for="{{ form.maquina_lavar.id_for_label }}">{{ form.maquina_lavar }} Máquina de Lavar</label>
                    <label for="{{ form.carro_moto.id_for_label }}">{{ form.carro_moto }} Carro/Moto</label>
                    <label for="{{ form.dvd.id_for_label }}">{{ form.dvd }} DVD</label>
                    <label for="{{ form.computador_notebook.id_for_label }}">{{ form.computador_notebook }} Computador/Notebook</label>
                    <label for="{{ form.telefone_internet.id_for_label }}">{{ form.telefone_internet }} Telefone/Internet</label>
                    </div>
                </div>

                <div class="form-group obs">
                    <label for="observacoes_gerais">Observações Gerais</label>
                    {{ form.obs_gerais }}
                </div>
                <div class="form-actions">
                    <button type="submit" class="submit-btn">Salvar Cadastro</button>
                </div>
            </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
      const addBtn         = document.getElementById("add-parente-btn");
      const totalForms     = document.getElementById("id_parente_set-TOTAL_FORMS");
      const wrapper        = document.getElementById("parente-forms-wrapper");
      const emptyTemplate  = document.getElementById("empty-parente-form").innerHTML;
    
      addBtn.addEventListener("click", () => {
        const formIndex = parseInt(totalForms.value, 10);
    
        let newFormHtml = emptyTemplate.replace(/__prefix__/g, formIndex);
        newFormHtml = newFormHtml.replace(/__NUM__/g, formIndex + 1);
    
        wrapper.insertAdjacentHTML("beforeend", newFormHtml);
        totalForms.value = formIndex + 1;
      });
    });
    </script>

</body>
</html>