{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/headers.html' %}
    <link rel="stylesheet" href="{% static 'css/daniel.css' %}" typer="css">
    <title>Lista de Entregas</title>
</head>
<body>
{% include 'includes/nav.html' %}
<div class="main-container">

    <div class="left-column">
        <div class="left-column-content">
        <img src="{% static 'img/doacao.png' %}" alt="Example" />
        <h3>Lista de Entregas</h3>
        </div>
    </div>

    <div class="right-column">
        <p>Lista de Entregas</p>
    </div>

</div>

</body>
</html>