{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/headers.html' %}
    <link rel="stylesheet" href="{% static 'css/daniel.css' %}" typer="css">
    <title>Lista de Famílias</title>
</head>
<body>
{% include 'includes/nav.html' %}
<div class="main-container">

    <div class="left-column">
        <div class="left-column-content">
        <img src="{% static 'img/familia.png' %}" alt="Example" />
        <h3>Lista de Famílias</h3>
        </div>
    </div>

    <div class="right-column">
        <div class="right-column-content">
            <div class="right-column-buttons-1">
                <div class="buttons-1-row">
                    <div class="button-register-1">
                        + Cadastrar Família
                    </div>
                </div>
                <div class="buttons-1-row">
                    <div class="button-info-1">
                        Famílias Ativas: 33
                    </div>
                    <div class="button-info-1">
                        Famílias Aguardando: 3
                    </div>
                    <div class="button-info-1">
                        Famílias Suspensas: 9
                    </div>
                </div>
            </div>
            <div class="right-column-list-1"> 

            <h1>Lista de Famílias</h1>
            <div class="table-container">
                <table>
                <thead>
                    <tr>
                    <th></th>
                    <th>Responsável <a href="?order_by=nome">🔺</a> <a href="?order_by=-nome">🔻</a></th>
                    <th>Nascimento <a href="?order_by=data_nascimento">🔺</a> <a href="?order_by=-data_nascimento">🔻</a></th>
                    <th>Membros</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                    <th>Status</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for registro in dados_familia %}
                    <tr>
                    <td>📋</td>
                    <td>{{ registro.nome }}</td>
                    <td>{{ registro.data_nascimento|date:"d/m/Y" }}</td>
                    <td>6</td>
                    <td>{{ registro.endereco }}</td>
                    <td>98888-8888</td>
                    <td>{{ registro.status_atendimento }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
                </table>
            </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>