{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/headers.html' %}
    <link rel="stylesheet" href="{% static 'css/daniel.css' %}" typer="css">
    <title>Lista de Famílias</title>
</head>
<body>
{% include 'includes/nav.html' %}
<div class="main-container">

    <div class="left-column">
        <div class="left-column-content">
        <img src="{% static 'img/familia.png' %}" alt="Example" />
        <h3>Lista de Famílias</h3>
        </div>
    </div>

    <div class="right-column">
        <div class="right-column-content">
            <div class="right-column-buttons-1">
                <div class="buttons-1-row-1">
                    <div class="button-register-1">
                        + Cadastrar Família
                    </div>
                </div>
                <div class="buttons-1-row-2">
                    <div class="button-info-1">
                        Famílias Ativas: 33
                    </div>
                    <div class="button-info-1">
                        Famílias Aguardando: 3
                    </div>
                    <div class="button-info-1">
                        Famílias Suspensas: 9
                    </div>
                </div>
            </div>
            <div class="right-column-list-1"> 

            <h1>Lista de Famílias</h1>
            <div class="table-container">
                <table>
                <thead>
                    <tr>
                    <th>Responsável</th>
                    <th>Editar</th>
                    <th>Nascimento</th>
                    <th>Membros</th>
                    <th>Endereço</th>
                    <th>Telefone</th>
                    <th>Status</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for number in range %}
                    <tr>
                    <td>Fulano da Silva Santos</td>
                    <td>📋</td>
                    <td>20/05/1990</td>
                    <td>6</td>
                    <td>Rua Marcilio Conrado nº98, Riacho Grande - SBC - SP - 09880-020</td>
                    <td>98888-8888</td>
                    <td>Ativa</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
                </table>
            </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>