{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/headers.html' %}
    <link rel="stylesheet" href="{% static 'css/daniel.css' %}" typer="css">
    <title>Lista de Famílias</title>
</head>
<body>
{% include 'includes/nav.html' %}
<div class="main-container">

    <div class="left-column">
        <div class="left-column-content">
        <img src="{% static 'img/familia.png' %}" alt="Example" />
        <h3>Lista de Famílias</h3>
        </div>
    </div>

    <div class="right-column">
        <div class="right-column-content">
            <div class="right-column-buttons-1">
                <div class="buttons-1-row">
                    <a href="{% url 'criar_familia' %}">
                    <div class="button-register-1">
                        + Cadastrar Família
                    </div></a>
                </div>
                    <div class="buttons-1-row">
                    <a href="{% url 'lista_familias' %}{% if order_field %}?order_by={{ order_field }}{% endif %}" class="button-info-1 {% if not status_filtro %}ativo{% endif %}">
                        Todas ({{ total_familias }})
                    </a>

                    <a href="{% url 'lista_familias' %}?status=Ativa{% if order_field %}&order_by={{ order_field }}{% endif %}" class="button-info-1 {% if status_filtro == 'Ativa' %}ativo{% endif %}">
                        Ativas ({{ total_ativas }})
                    </a>

                    <a href="{% url 'lista_familias' %}?status=Aguardando Vaga{% if order_field %}&order_by={{ order_field }}{% endif %}" class="button-info-1 {% if status_filtro == 'Aguardando Vaga' %}ativo{% endif %}">
                        Aguardando ({{ total_aguardando }})
                    </a>
                    <a href="{% url 'lista_familias' %}?status=Suspensa{% if order_field %}&order_by={{ order_field }}{% endif %}" class="button-info-1 {% if status_filtro == 'Suspensa' %}ativo{% endif %}">
                        Suspensas ({{ total_suspensas }})
                    </a>
                    </div>
            </div>
            <div class="right-column-list-1"> 

            <h1>Lista de Famílias</h1>
            {% if messages %}
            {% for message in messages %}
              <div class="msg {% if message.tags == 'success' %}sucesso{% elif message.tags == 'error' %}erro{% endif %}">
                {{ message }}
              </div>
            {% endfor %}
            {% endif %}
            <div class="table-container">
                <table>
                <thead>
                    <tr>
                        <th>Editar</th>
                        <th>
                        Responsável
                        <a href="?order_by=nome{% if status_filtro %}&status={{ status_filtro }}{% endif %}">🔺</a>
                        <a href="?order_by=-nome{% if status_filtro %}&status={{ status_filtro }}{% endif %}">🔻</a>
                        </th>
                        <th>
                        Nascimento
                        <a href="?order_by=data_nascimento{% if status_filtro %}&status={{ status_filtro }}{% endif %}">🔺</a>
                        <a href="?order_by=-data_nascimento{% if status_filtro %}&status={{ status_filtro }}{% endif %}">🔻</a>
                        </th>
                        <th>
                        Membros
                        <a href="?order_by=qtd_membros{% if status_filtro %}&status={{ status_filtro }}{% endif %}">🔺</a>
                        <a href="?order_by=-qtd_membros{% if status_filtro %}&status={{ status_filtro }}{% endif %}">🔻</a>
                        </th>
                        <th>Endereço</th>
                        <th>Telefone 1</th>
                        <th>Status</th>
                    </tr>
                </thead>
                
                <tbody>
                    {% for registro in dados_familia %}
                    <tr>
                    <td><a href="{{ registro.id }}/editar">📋</a></td>
                    <td>{{ registro.nome }}</td>
                    <td>{{ registro.data_nascimento|date:"d/m/Y" }}</td>
                    <td>{{ registro.qtd_membros }}</td>
                    <td>{{ registro.endereco }}</td>
                    <td>{{ registro.telefone_set.all.0.telefone|default:"—" }}</td>
                    <td>{{ registro.status_atendimento }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
                
                </table>
            </div>
            </div>
        </div>
    </div>

</div>
</body>
</html>