{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% include 'includes/headers.html' %}
    <title>Home</title>
</head>
<body>
    {% include 'includes/nav.html' %}
    <div class="main-container">
        <div style="width: 500px; margin: 0 auto;">
            <form method="POST" action="">
                {% csrf_token %}
                <div>
                    <label for="id_username">Uuário:</label><br>
                    <input type="text" name="username" id="id_username" required/>
                </div>

                <div style="margin-top: 10px;">
                    <label for="id_password">Senha:</label><br>
                    <input type="password" name="password" id="id_password" required/>
                </div>

                <div style="margin-top: 15px;">
                    <button type="submit">Login</button>
                </div>
            </form>
                {% if messages %}
                    <br>
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
    </div>
</body>
</html>