{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% include 'includes/headers.html' %}
    <title>Sistema de Gerenciamento de Estoque - INAEB</title>
    <link rel="stylesheet" href="{% static 'css\rafael.css' %}">
</head>
<body>
    <!-- {% include 'includes/test_nav.html' %} -->
    <div class="login-container">
        <h2 class="title">Sistema de Gerenciamento de Estoque - INAEB</h2>

        <!-- Logo -->
        <div class="logo">
            <img src="{% static '\img\logo.jpg' %}" alt="Logo INAEB">
            <p class="login-text">LOGIN</p>
        </div>

        <!-- Caixa de Login -->
        <div class="login-box">
            <form method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                
                <!-- Input Nome de Usuário -->
                <div class="input-group">
                    <img src="{% static '\img\icone_login1.png' %}" alt="Ícone de Usuário" class="icon">
                    <input type="text" name="username" id="id_username" placeholder="Usuário" required />
                </div>

                <!-- Input Senha -->
                <div class="input-group">
                    <img src="{% static '\img\icone_login2.png' %}" alt="Ícone de Cadeado" class="icon">
                    <input type="password" name="password" id="id_password" placeholder="Senha" required />
                </div>

                <!-- Botão de Login -->
                <button type="submit" class="login-button">LOGIN</button>
            </form>

            <!-- Mensagens de erro/sucesso -->
            {% if messages %}
                <div class="msg erro">
                    {% for message in messages %}
                        <p class="{{ message.tags }}">{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>

</body>
</html>