{% load static %}
<nav class="nav">
    <div class="nav-left">
      <a href="{% url 'menu' %}">
      <img src="{% static 'img/logo.jpg' %}" alt="Logo" class="logo" />
      </a>
    </div>

    <ul class="nav-items">
      <li>
        <a href="{% url 'lista_familias' %}">
        <img src="{% static 'img/familia.png' %}" alt="Famílias" />
        <h2>Famílias</h2>
        </a>
        <ul class="dropdown">
          <li><a href="{% url 'lista_familias' %}">Lista de Famílias</a></li>
          <li><a href="{% url 'criar_familia' %}">Cadastrar Família</a></li>
        </ul>
      </li>
      
      <li>
        <a href="{% url 'cadastro_cestas' %}">
        <img src="{% static 'img/cadastro_produtos.png' %}" alt="Cestas" />
        <h2>Cestas</h2>
        </a>
      </li>
      
      <li>
        <a href="{% url 'lista_entregas' %}">
        <img src="{% static 'img/doacao.png' %}" alt="Entregas" />
        <h2>Entregas</h2>
        </a>
        <ul class="dropdown">
          <li><a href="{% url 'lista_entregas' %}">Lista de Entregas</a></li>
          <li><a href="{% url 'cadastro_entregas' %}">Cadastrar Entrega</a></li>
        </ul>
      </li>
    </ul>

    <div class="nav-right">
      <a href="/admin"><img src="{% static 'img/icone_login2.png' %}" alt="User" class="user-icon" /></a>
      {% if user.is_authenticated %}
          {{ user.username }}
          <form action="{% url 'logout' %}" method="post" style="display: inline;">
              {% csrf_token %}
              <button type="submit" class="logout-button">Logout</button>
          </form>
      {% else %}
      <a href="{% url 'login' %}">Login</a>
      {% endif %}
    </div>
</nav>